@import "settings";
@import "foundation";


a { color: white; }
a:active { color: #d83c3c; }
a:visited { color: white; }
a:hover { color: #a6923a; }

ul {
     list-style-type: none;
     height: 50px;
     padding-top: 9px;
     overflow: hidden;
     white-space: nowrap;
}

li {
     display: inline;
     padding-right: 20px;
}


/*
 Margins for the header 
 */

.row-body { padding-top: 50px; }
	@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
	}

/*
 * overide max width in foundation.css
 */
.row {
    max-width: none;
}

/*
 * overide column padding in foundation.css
 */
.column, .columns {
    padding-left: 0px;
    padding-right:0px;
}

/*
 Mobile title container
 */
.mobile-title {
	display: -webkit-flex;
	display: flex;
    padding-left: 10px;
    align-items: center;
	color: #ffffff;
    background-color: #245f65;
    height: 50px;
    font-size: 30px;
	}
	
/*
 Mobile logo container
 */
.mobile-logo-container {
	display: -webkit-flex;
	display: flex;
    padding-left: 10px;
    align-items: center;
	color: #ffffff;
    background-color: #245f65;
    height: 50px;
	}
	
/*
 Mobile menu container
 */
.mobile-menu-container {
	display: -webkit-flex;
	display: flex;
    justify-content: center;
    align-items: center;
	color: #ffffff;
    height: 50px;
	}


/*
 Logo container
 */
.logo-nav-box {
	display: -webkit-flex;
	display: flex;
    justify-content: center;
    align-items: center;
	color: #ffffff;
    background-color: #245f65;
    height: 50px;
	}

/*
 Text color for the nav
 */
.row-nav-container {
	color: #ffffff;
    background-color: #245f65;
	}

/*
 * Border for nav
 */
.columns {
    border:1px solid #000;
}

/*
 * This is the nav list container for desktop
 */
.nav-list-desk {
	display: -webkit-flex;
    display: flex;
    height: 50px;
    padding: 2px;
    -webkit-flex-direction: row; 
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}


/*
 * This is the container for desktop search
 */
.search-box-nav-desk {
	display: -webkit-flex;
    display: flex;
    padding: 7px;
    -webkit-flex-direction: row; 
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/*
 * This is the container for mobile search
 */
.row-search {
	display: -webkit-flex;
    display: flex;
    margin-top: 50px;
}


/* Form wrapper styling */
.form-wrapper {
	display: inherit;
    width: 100%;
    padding: 7px; 
    margin: 7x;
    background: rgba(0,0,0,.2);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
 
/* Form text input */
 
.form-wrapper input {
    width: 100%;
    height: 20px;
    padding: 10px ; 
    margin: 0;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;     
}
 
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper input::-webkit-input-placeholder {
	margin: 0;
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}   
 
/* Form submit button */
.form-wrapper button {
	margin: 0;
    overflow: visible;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 20px;
    width: 110px;
    font: bold 12px/12px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  
   
.form-wrapper button:hover{    
    background: #e54040;
}  
   
.form-wrapper button:active,
.form-wrapper button:focus{  
    background: #c42f2f;
    outline: 0;  
}
 
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 3px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #e54040;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #c42f2f;
}     
 
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}  






.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    